#titulo-cesta {
    margin-top: 130px;
    color:#621C57;
}

.table thead {
    background-color: #410a39;
    color:white;
    
}

.table tbody {
    background-color: #F5F5F5;
}

.table tbody button {
    background-color: #0FA761;
    font-weight: 700;
    border:none;
}

.table tbody button:hover {
    background-color: #56ad84;
    font-weight: 700;
    border:none;
}

#eliminar-cliente-direccion {
    background-color: #0FA761;
    font-weight: 700;
    border:none;
}


#eliminar-cliente-direccion:hover {
    background-color: #057943;
    font-weight: 700;
    border:none;
}

/*Estilos finalizar compra*/

#boton-finalizar-compra {
    background-color: #057943;
    font-weight: 700;
    margin:2em;
    border:none;
}


#boton-finalizar-compra:hover {
    background-color: #02542e;
    font-weight: 700;
    margin:2em;
    border:none;
}

.titulo-menu-lateral {
    background-color: #F5F5F5;
    border-radius:5px;
    border-color:none;
    padding:1em;
    font-weight: 700;
    font-size: medium;
}

#datos-direccion {
    border:1px solid #F5F5F5;
    border-top: 1px red solid;
    padding:1em;
}

#datos-pago {
    border:1px solid #F5F5F5;
    border-top: 1px red solid;
    padding:1em;
}

#forma-envio {
    border:1px solid #F5F5F5;
    border-top: 1px red solid;
    padding:1em;
}


.boton-cesta {
    background-color: #0FA761;
    border:none;
    font-weight:700;
    font-size: large;
}
.boton-cesta:hover {
    background-color: #07894c;
    border:none;
    font-weight:700;
    font-size: large;
}


.titulo-pago {
    color:#410a39;
    margin:0.5em;
}

/*Estilo direcciones */
.titulo-direccion {
    color:#410a39;
    margin-top:130px;
}
.titulo-direccion-contenedor {
    margin:0.5em;
}

.direcciones button {
    background-color: #07894c;
    border:none;
    font-weight:700;
    height: 100%;
    font-size: large;
    color:white;
}
.direcciones button:hover {
    background-color: #055831;
    border:none;
    font-weight:700;
    height: 100%;
    font-size: large;
    color:white;
}
.direcciones a {
    background-color: #07894c;
    border:none;
    font-weight:700;
    height: 100%;
    font-size: large;
}



#boton-direccion {
    background-color: #07894c;
    border:none;
    font-weight:700;
    height: 100%;
    font-size: large;
}

#boton-direccion:hover {
    background-color: #00572f;
    border:none;
    font-weight:700;
    height: 100%;
    font-size: large;
}
#pagos {
    margin-top:200px;
}
.titulo-finalizar-compra {
    margin-top: 300px;
}


@media (max-width: 600px) {
    #titulo-cesta {
        margin-top:450px;
    }
    .titulo-direccion {
        
        margin-top:450px;
    }
    
}





