body {
    box-sizing: border-box;
    padding:0;
}

.container-fluid {
    padding:0px;
}

.logo-principal {
    width: 13em;
    height: 3em;
}

/*Input del buscador*/
.form-control {
    background-color: rgb(255, 255, 255);
    border-left:1px #621C57 solid;
    border-right:1px #621C57 solid;
    border-top:1px #621C57 solid;
    border-bottom:1px #621C57 solid;
    border-radius: 5px;
}

#input-buscador:focus {
    border:none;
    outline:none;
}


.button-search {
    background-color: #621C57;
    color:white;
    border-radius: 5px;
    border: 1px #621C57 solid;
}

.btn-outline-secondary {
    background-color: white;
    border-radius:0px;
    border-right:hidden;
    border-left:1px solid hsl(309, 56%, 25%);
    border-top:1px solid #621C57;
    border-bottom:1px solid #621C57;
}


.icons-buy {
    background-color: white;
    border:none;
}
.icons-buy:hover {
    background-color: rgb(237, 237, 237);
}
.icons-user {
    background-color: rgb(255, 255, 255);
    border:none;
}
.icons-user:hover {
    background-color: rgb(237, 237, 237);
}

/*Nav bar */
.bar-nav {
    background-color: #621C57;
}

.bar-elem {
    color: rgb(253, 218, 218);
    text-decoration: none;
}
.bar-elem:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Dropdown content */
.dropdown-menu {
    background-color: #621C57;
}
.dropdown-elem {
    color: rgb(253, 218, 218);
    text-decoration: none;
    padding:0em 2em 0em 2em;
    
}
.dropdown-elem:hover {
    color: aliceblue;
    fill:aliceblue;
}

.icono-flecha {
    fill:rgb(253, 218, 218);
}
.icono-flecha:hover {
    fill:aliceblue;
}

/* Card */
.card {
    text-decoration: none;
    color: #36012e;
    border:none;
}

.card-title {
    font-weight: 700;
}
.card:hover {
    font-style: none;
    background-color: #f7c6ef;
    color:black;
    transition: 0.4s;
    border:none;
}

.pagination .page-item a {
    background-color: #f7c6ef;
    color: #36012e;
}
.pagination .disabled a {
    background-color: #f7c6ef;
    color: #36012e;
}
.pagination .active a {
    background-color: #f7c6ef;
    color: #36012e;
}


.accordion .accordion-item {
    background-color: #f7c6ef;
    color: black;
    font-weight: 500;
}

.accordion .accordion-item .accordion-button {
    background-color: #f7c6ef;
    color: black;
    font-weight: 500;
}
.form-check-input {
    background-color: #36012e;
}

/*Estilos imagenes promoción*/
.image-promocion {
    width: 40em;
}


/*Estilos subscripcion página principal*/
#subcripcion {
    background-color: #eadfe8;
    
}

#subcripcion p {
    font-weight: 200;
}
#subcripcion label {
    font-weight: 200;
}

#subcripcion a {
    text-decoration: none;
    color: #36012e;
}

#subcripcion a:hover {
    text-decoration: none;
    color: black;
}
#subcripcion .button-send-promotion {
    background-color: #fc8aed;
}





/*Footer*/
.logo-principal-footer {
    border-top:20px #621C57 solid; 
}
.logo-principal-footer img  {
    width: 4em;
    height: 4em;
}
/*Separador de logo principal*/
.separador {
    border-bottom:0.5px rgba(128,128,128,.35) solid;
    width: 50%;
    margin:auto;
    padding-top:1em;
    padding-bottom:1em;
}

/*Es el apartado de los link del footer*/
.section {
    border-top:0.5px rgba(128,128,128,.35) solid;
    border-bottom:0.5px rgba(128,128,128,.35) solid;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.footer-page {
    width: 100%;
    background-color: white;
}

.link-footer {
    list-style:none;
}
.footer-element {
    text-decoration: none;
    color:gray;
}
.footer-element:hover {
    color:gray;
    text-decoration: underline;
}

/* Metodos de pago footer */

.img-footer-list {
    width: 8em;
    height: 3em;
}

/*Descargar la aplicacion footer */
.img-download-app-apple {
    width: 11em;
    height: 3.2em;
}

.img-download-app-google {
    width: 10em;
    height: 3em;
}

.img-download-app-content {
    border-top:0.5px rgba(128,128,128,.35) solid;
    margin:auto;
    width: 50%;
}

/* Estilo formulario direcciones */
.modal-header {
    background-color: rgb(209, 195, 207);
}
.modal-footer {
    background-color: rgb(209, 195, 207);
}

.modal-body {
    background-color: rgb(209, 195, 207);
}
.modal-body label {
    font-weight: 700;
    font-size: small;
}

.modal-body input {
    border:0.2px gray solid;
    border-radius: 5px;
    padding:0.3em;
}
.form-component {
    margin:0.8em;
}
#boton-submit-direccion {
    background-color: #621C57;
    color:white;
}
#boton-submit-direccion:hover {
    background-color: #49063f;
    color:white;
}
#boton-submit-direccion:active {
    outline: none;
    background-color: #49063f;
    color:white;
}

/*Estilos de la paginación*/
#navPaginacion {
    margin-left:400px;
}


/*Estilos comentarios*/

#boton-comentarios {
    background-color: #621C57;
    font-weight: 700;
    font-size: large;
}

#boton-comentarios:hover {
    background-color: #7d3973;
    font-weight: 700;
    font-size: large;
}

/*Estilos métodos de pago*/

#boton-metodo-pago {
    background-color: #02542e;
    font-weight: 700;
    border:none;
}

#boton-metodo-pago:hover {
    background-color: #07351f;
    font-weight: 700;
    border:none;
}

.carousel {
    margin-top:50px;
}

/*Media queries*/
/*Página principal*/

@media (max-width: 600px) {
    .carousel {
       display: none;
    }
    .input-group {
        width: 60%;
        margin:auto;
        
    }
    .icons-user {
       display:none;
    }
    .icons-buy {
        display:none;
    }
    .barra-navegacion {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .bar-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #subcripcion {
        visibility: hidden;
        display:none;
    }
    
    .image-promocion {
        display:none;
    }

    #titulo-productos-vendidos {
        text-align: center;
        margin-top: 400px;
    }

    #lista-card-productos {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35sem;
    }
    #producto-individual {
        width: 100%;
        height: 100%;
    }

    /*Filtros y listado productos*/
    .filtros-listado-productos {
        margin-top:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filtros-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #listado-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    

    /*Footer*/
    .section-footer-link {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 1000px) {
    .image-promocion {
        display:none;
    }
}

